*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: Arial, Helvetica, sans-serif;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

.main-container {
    background-color: #eee;
    position: relative;
    width: 640px;
    height: 550px;
    margin: 0 auto;
    margin-top: 150px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.main-container .box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
}

.main-container .box .img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.main-container .box .content {
    background-color: #fff;
    width: 500px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    position: relative;
    bottom: 25px;
    padding: 25px;
    height: 300px;
    position: relative;
}

.main-container .box .content h1 {
    color: dodgerblue;
    font-size: 1.3rem;
    font-weight: bolder;
}

.main-container .box .content h3 {
    font-size: 1.1rem;
    color: darkgrey;
    font-weight: normal;
}

.main-container .box .content hr {
    border: 0;
    border-bottom: 1px solid darkgray;
    margin-top: 10px;
    background-color: #eee;
}

.main-container .box .content .social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #eee;
    padding: 10px 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.main-container .box .content .social:first-of-type {
    margin-top: 20px;
    margin-bottom: 10px;
}

.main-container .box .content .social:last-of-type {
    margin-top: 10px;
}

.main-container .box .content .social h2 {
    font-size: 1.1rem;
    color: #333;
    text-indent: 10px;
    font-weight: normal;
}

.main-container .box .content .social p {
    text-indent: 10px;
    direction: rtl;
    font-size: 1.1rem;
    color: #333;
    font-weight: normal;
}

.main-container .box .content::after {
    content: "A+";
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    background-color: dodgerblue;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    bottom: -20px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}